{% extends 'inventory/base.html' %}

{% block content %}

<div class="card shadow-sm p-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h3>
            Add Material
        </h3>

        <a
            href="/materials/"
            class="btn btn-secondary"
        >
            Back
        </a>

    </div>

    <form method="POST">

        {% csrf_token %}

        <div class="row g-4">

            <!-- MATERIAL CODE -->

            <div class="col-md-2">

                <label class="form-label">

                    Material Code

                </label>

                <input
                    type="text"
                    name="material_code"
                    class="form-control"
                    required
                >

            </div>

            <!-- MATERIAL NAME -->

            <div class="col-md-3">

                <label class="form-label">

                    Material Name

                </label>

                <input
                    type="text"
                    name="material_name"
                    class="form-control"
                    required
                >

            </div>

            <!-- CATEGORY -->

            <div class="col-md-2">

                <label class="form-label">

                    Category

                </label>

                <select
                    name="category"
                    class="form-select"
                    required
                >

                    <option value="Pipe">
                        Pipe
                    </option>

                    <option value="Valve">
                        Valve
                    </option>

                    <option value="Fitting">
                        Fitting
                    </option>

                    <option value="Instrument">
                        Instrument
                    </option>

                    <option value="Electrical">
                        Electrical
                    </option>

                    <option value="Consumable">
                        Consumable
                    </option>

                </select>

            </div>

            <!-- SIZE -->

            <div class="col-md-2">

                <label class="form-label">

                    Size

                </label>

                <input
                    type="text"
                    name="size"
                    class="form-control"
                    required
                >

            </div>

            <!-- UNIT -->

            <div class="col-md-1">

                <label class="form-label">

                    Unit

                </label>

                <input
                    type="text"
                    name="unit"
                    class="form-control"
                    required
                >

            </div>

            <!-- MIN STOCK -->

            <div class="col-md-2">

                <label class="form-label">

                    Min Stock

                </label>

                <input
                    type="number"
                    step="0.01"
                    name="min_stock"
                    class="form-control"
                    required
                >

            </div>

        </div>

        <br>

        <button
            type="submit"
            class="btn btn-primary"
        >

            Save Material

        </button>

    </form>

</div>

{% endblock %}