{% extends 'inventory/base.html' %}

{% load static %}

{% block content %}

<div class="card shadow-sm p-5 mb-4 text-center">

    <img
        src="{% static 'images/logo.png' %}"
        width="140"
        class="mb-4"
    >

    <h1 class="mb-3">

        Herrscher Technologies

    </h1>

    <h5 class="text-muted mb-4">

        Conquering Horizon

    </h5>

    <p class="text-muted">

        Professional EPC ERP &
        Inventory Management System

    </p>

</div>

<div class="row g-4">

    <div class="col-md-3">

        <div class="card shadow-sm p-4 text-center">

            <h5>
                Materials
            </h5>

            <p class="text-muted mt-3">

                Material Master
                Management

            </p>

            <a
                href="/materials/"
                class="btn btn-primary"
            >
                Open
            </a>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm p-4 text-center">

            <h5>
                Transactions
            </h5>

            <p class="text-muted mt-3">

                IN / OUT Material
                Tracking

            </p>

            <a
                href="/transactions/"
                class="btn btn-primary"
            >
                Open
            </a>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm p-4 text-center">

            <h5>
                Projects
            </h5>

            <p class="text-muted mt-3">

                Project Wise
                Stock Tracking

            </p>

            <a
                href="/projects/"
                class="btn btn-primary"
            >
                Open
            </a>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm p-4 text-center">

            <h5>
                Summary
            </h5>

            <p class="text-muted mt-3">

                Live Stock
                Summary

            </p>

            <a
                href="/summary/"
                class="btn btn-primary"
            >
                Open
            </a>

        </div>

    </div>

</div>

{% endblock %}