{% extends 'inventory/base.html' %}

{% block content %}

<div class="card shadow-sm p-4 mb-4">

    <div class="d-flex justify-content-between align-items-center">

        <h3>
            Projects
        </h3>

        <a
            href="/add-project/"
            class="btn btn-primary"
        >
            + Add Project
        </a>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-5">

            <input
                type="text"
                id="projectSearch"
                class="form-control"
                placeholder="Search Project..."
                onkeyup="searchProject()"
            >

        </div>

    </div>

</div>

<div class="card shadow-sm p-4">

    <div class="table-responsive">

        <table
            class="table table-hover align-middle"
            id="projectTable"
        >

            <thead class="table-dark">

                <tr>

                    <th>
                        Project Code
                    </th>

                    <th>
                        Project Name
                    </th>

                    <th>
                        Location
                    </th>

                </tr>

            </thead>

            <tbody>

                {% for project in projects %}

                <tr>

                    <td>
                        {{ project.project_code }}
                    </td>

                    <td>
                        {{ project.project_name }}
                    </td>

                    <td>
                        {{ project.location }}
                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td
                        colspan="3"
                        class="text-center text-muted"
                    >

                        No Projects Found

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

<script>

function searchProject() {

    let input = document.getElementById(
        "projectSearch"
    ).value.toLowerCase();

    let table = document.getElementById(
        "projectTable"
    );

    let tr = table.getElementsByTagName(
        "tr"
    );

    for (let i = 1; i < tr.length; i++) {

        let td = tr[i].getElementsByTagName(
            "td"
        );

        let found = false;

        for (let j = 0; j < td.length; j++) {

            if (
                td[j]
                &&
                td[j].innerHTML
                .toLowerCase()
                .includes(input)
            ) {

                found = true;

            }

        }

        tr[i].style.display =
            found ? "" : "none";

    }

}

</script>

{% endblock %}