{% extends 'inventory/base.html' %}

{% block content %}

<!-- PAGE HEADER -->

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>

        <h2>

            Upload Materials

        </h2>

        <p class="text-muted mb-0">

            Upload bulk materials
            using excel file

        </p>

    </div>

</div>

<!-- MAIN CARD -->

<div class="erp-card">

    <!-- EXCEL FORMAT -->

    <div class="mb-4">

        <h5 class="mb-3">

            Excel Format

        </h5>

        <div class="table-responsive">

            <table class="table table-bordered">

                <thead>

                    <tr>

                        <th>

                            material_code

                        </th>

                        <th>

                            material_name

                        </th>

                        <th>

                            category

                        </th>

                        <th>

                            size

                        </th>

                        <th>

                            unit

                        </th>

                        <th>

                            min_stock

                        </th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>

                            M001

                        </td>

                        <td>

                            MS Plate

                        </td>

                        <td>

                            Steel

                        </td>

                        <td>

                            1000 X 2000

                        </td>

                        <td>

                            Nos

                        </td>

                        <td>

                            10

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

    <!-- UPLOAD FORM -->

    <form
        method="POST"
        enctype="multipart/form-data"
    >

        {% csrf_token %}

        <div class="mb-4">

            <label class="form-label">

                Select Excel File

            </label>

            <input
                type="file"
                name="excel_file"
                class="form-control"
                required
            >

        </div>

        <button
            type="submit"
            class="btn btn-primary"
        >

            Upload Materials

        </button>

    </form>

</div>

{% endblock %}